.ya-comments
    margin-left: 45px
    &_article
        margin-left: 0
        & ^[0]__item:first-child
            border-top: none
    &__item
        margin-top: 15px
        padding-top: 15px
        border-top: 1px solid #afafaf
    &__add-field
        width: 100%
        display: inline-block
        border: 1px solid #afafaf
        border-radius: 3px
        box-sizing: border-box
        outline: none
        line-height: 1
        font-size: 13px
        padding: 4px 10px
        &:focus
            border: 1px solid #233d58
    &_small
        margin-left: 0
        font-size: 12px
        /*& ^[0]__item:first-child
            border-top: none*/