html
    font-size:100.01%
body
    font-family: font-family
    font-size: mainTextSize
    color: mainTextColor
    line-height: 1.4
h1,h2,h3,h4,h5,h6
    margin: 0
    padding: 20px 0
    font-weight: normal
    line-height: 1
    text-transform: transform
    font-family: titles-font
    color: titlesColor
    text-align: hAlign
    span
        color: addTitlesColor
    img
        margin: 0
h1
    font-size: h1Size
h2
    font-size: h2Size
h3
    font-size: h3Size
h4, h5, h6
    font-size: baseTitileFontSize
p
    margin-bottom: pMargBot
article
    p
        text-align: justify
        line-height: 1.4
a
    text-decoration: underline
    color: mainLinksColor
    &:hover
        text-decoration: none
blockquote
    margin: 21px
    color: #666666
    font-style: italic
strong
dfn
    font-weight: bold
em
dfn
    font-style: italic
sup
sub
    line-height: 0
abbr
acronym
    border-bottom: 1px dotted addTextColor
address
    margin: 0 0 21px
    font-style: italic
del
    color: #666666

pre
    margin: 21px 0
    white-space: pre
pre
code
tt
    font: 14px 'andale mono', 'lucida console', monospace
    line-height: 1.5
li
    ol
    ul
        margin: 0
ul, ol { margin: 0 21px 21px 0; padding-left: 21px; }

ul li
    list-style-type: disc
ol li
    list-style-type: decimal

dl
    margin: 0 0 21px 0
    dt
        font-weight: bold
dd
    margin-left: 21px

table
    margin-bottom: 21px
    width:100%
th
    font-weight: bold
th
td
caption
    padding: 4px 10px 4px 5px
tfoot
    font-style: italic
caption
    background: #eee
img
    max-width: 100%