.ya-sign-form
    max-width: 280px
    padding: 20px
    //border: 1px solid mainLinksColor
    border-radius: 5px
    margin: 20px auto 0 auto
    box-shadow: 0 0 5px rgba(0,0,0,.6)
    &__field
        margin-left: auto
        margin-right: auto
        margin-bottom: 7px
    &__submit
        display: block
        text-align: center
        padding-left: 0
        padding-right: 0
        width: 100%
    &__socials
        margin: 15px 0
    &__social-link
        width: 33px
        height: 33px
        display: inline-block
        margin: 0 3px
        border-radius: 7px
        box-shadow: 0 0 5px rgba(0,0,0,.6)
        &_vk
            background: url(images/sprite.png) -90px -181px no-repeat
        &_ok
            background: url(images/sprite.png) -124px -181px no-repeat
        &_fb
            background: url(images/sprite.png) -158px -181px no-repeat
        &_im
            background: url(images/sprite.png) -192px -181px no-repeat
        &_tw
            background: url(images/sprite.png) -226px -181px no-repeat