.ya-pop-up-form
    position: absolute
    top: 50%
    left: 50%
    width: 278px
    height: 378px
    padding: 20px
    background: #ffffff
    border: 1px solid mainLinksColor
    margin-left: -160px
    margin-top: -210px
    &__closer
        width: 20px
        height: 20px
        display: block
        background: titlesColor
        color: white
        text-align: center
        line-height: 20px
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        font-size: 14px