.ya-article
    &__content
        padding: 10px 15px
        +below(959px)
            img
                max-width: 100% !important
                display: block !important
                margin: 0 auto !important
                float: none !important
    &__title
        text-align: center
    &__date
        margin-bottom: 25px
    &__comments-title
        padding: 10px 10px 0 10px
        color: mainLinksColor
        font-size: 18px
    &__nav
        margin-top: 35px
    &__nav-btn
        background: mainLinksColor
        color: white
        +below(959px)
            margin-bottom: 10px
    &__nav-btn-wrapper
        padding: 10px 15px 15px 50px
        &_next
            padding: 10px 50px 15px 15px
    &__btn-link
        position: absolute
        top: 21px
        left: 10px
        display: block
        width: 25px
        height: 25px
        background: #f09401
        color: white
        text-decoration: none
        text-align: center
        line-height: 25px
        border-radius: 3px
        &_next
            left: auto
            right: 10px
        &:hover
            box-shadow: 0 0 2px rgba(0,0,0,.5)
    &__nav-btn-title_main
        margin-bottom: 10px
    &__nav-btn-title_sub
        font-size: 12px