.ya-penpals
    font-size: 12px
    border-right: 5px solid #f09401
    height: 573px;
    +below(959px)
        height: 400px
    +below(959px)
        height: auto
        min-height: 100px
        border-right: none
    &__item
        padding: 15px 5px
        border-bottom: 1px solid #0e1e2b
        border-left: 1px solid #0e1e2b
        cursor: pointer
        &:hover
            background: #eeeeee
    &__date
        font-size: 11px
        color: #afafaf
        vartical-align: bottom
    &__name
        font-size: 13px
        color: black
    &__msg
        font-size: 11px
        margin-top: 7px