.ya-participant
    &__media
        background: #223d58
    &__img
        height: 165px
        background-size: contain
        background-repeat: no-repeat
        background-position: 50% 50%
        &_text
            line-height: 165px
            text-align: center
            color: white
            font-size: 18px
    &__name
        text-align: center
        line-height: 20px
        background: #0e1e2d
        color: white
        font-size: 12px
        &_take-part
            height: 20px
            background: mainLinksColor
    &__place
        width: 58px
        height: 50px
        margin-bottom: 15px
        margin-left: auto
        margin-right: auto
        text-align: center
        line-height: 58px
        color: mainLinksColor
        &_1
            background: url(images/sprite.png) 0 -306px no-repeat
        &_2
            background: url(images/sprite.png) -58px -306px no-repeat
        &_3
            background: url(images/sprite.png) -116px -306px no-repeat
    &__actions
        background: #f09401
        color: white
    &__votes
        padding: 14px 0 14px 24px
        font-size: 14px
        line-height: 1
    &__vote
        height: 42px
        width: 100%
        display: block
        border-left: 1px solid white
        position: relative
        cursor: pointer
        &:before
            content: ""
            display: block
            width: 22px
            height: 19px
            position: absolute
            top: 50%
            left: 50%
            margin-left: -11px
            margin-top: -10px
            background: url(images/sprite.png) -248px -228px no-repeat
    &__btn
        display: block
        width: 100%
        height: 42px
        line-height: 42px
        text-align: center
        cursor: pointer
    &__link
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%