.ya-articles
    &__content
        color: #223d5a
    &__desc
    &__readmore
        margin-bottom: 25px
    &__title
        color: #223d5a
        font-weight: bold
    &__date
        color: #727272