.ya-info-block
    font-size: 12px
    color: #757575
    padding-bottom: 5px
    &__title
        font-size: 15px
        color: black
        padding: 20px 0 20px 15px
        line-height: 1
    &__record
        margin-bottom: 15px
        line-height: 1