.ya-page
    background: bgColor
.ya-page__block
    box-shadow: 2px 1px 1px rgba(0,0,0,.5)
    border-radius: 3px
    margin-bottom: 15px
    overflow: hidden
    &_colored
        background: #223d58
        color: white
    &_bordered
        border-left: 4px solid #f09401