.ya-avatar
    &_large
        width: 270px
        height: 270px
        margin: 0 auto
        border-radius: 50%
        text-align: center
        overflow: hidden
        background: #223d58
        & ^[0]__img
            width: 100%
            height: auto