.ya-avatar
    &_small
        width: 40px
        height: 40px
        border: 1px solid #223d58
        & ^[0]__img
            width: 100%
            height: auto
    &_large
        text-align: center
        overflow: hidden
        & ^[0]__img
            width: 100%
            height: auto