@import 'jeet'
@import 'rupture'

.ya-nav-menu
    font-family: titles-font
    text-transform: menuTransform
    line-height: 1
    font-size: menuFontSize
    &_bottom
        & ^[0]__item
            padding: 0 30px
    +between(960px, 1259px)
        font-size: 13px
    &__list
        margin: 0
        padding: 0
        +below(959px)
            display: none
        &_visible
            +below(959px)
                display: block
    &__item
        float: left
        list-style-type: none
        padding: 20px 8px
        +between(960px, 1259px)
            &
                padding: 20px 4px !important
        +below(959px)
            float: none
            padding: 0
            & ^[0]__link
                padding: 20px 8px
                display: block
                text-align: center
                border-bottom: 1px solid #222222
        & ^[0]__link
            color: inactiveMenuColor
            text-decoration: none
            cursor: pointer
            &:hover
                color: activeMenuColor
        &_active
            & > ^[0]__link
                color: activeMenuColor
        &_level_1
            &:hover
                .ya-nav-menu__container
                    display: block
        &_level_2
            text-align: center
            & > ^[0]__link
                font-size: menuFontSize
                color: inactiveMenuColor
                font-family: font-family
        &_level_3
            float: none
            padding-bottom: 0
            text-align: left
    & &__mobile-link
        display: none
        +below(959px)
            display: block
            padding: 20px 8px
            display: block
            text-align: center
            border-bottom: 1px solid #222222
            color: inactiveMenuColor
            text-decoration: none
            &:hover
                color: activeMenuColor
    &_li-like
        & ^[0]__item
            float: none
            padding: 0
            margin-bottom: 7px
            text-transform: none
            &:before
                content: "-"
                display: inline-block
                margin-right: 5px
            & ^[0]__link
                font-size: 14px
    &_view_buttons
        min-width: auto
        & ^[0]__list
            float: none
        & ^[0]__item
            padding: 0
            col(1/5)0e1e2d
            +below(767px)
                stack()
        & ^[0]__link
            border-radius: 3px
            background: #223d58
            text-align: center
            line-height: 1
            padding: 15px 0
            &_active
            &:hover
                background: #0e1e2d
    &_small
        & ^[0]__item
        & ^[0]__link
            font-size: 11px
            &_active
                text-decoration: underline
        & ^[0]__link
            min-width: auto
        & ^[0]__item
            padding: 6px 30px
