@font-face
    font-family: 'Crick';
    src: url('fonts/crick.eot');
    src: local('☺'), url('fonts/crick.woff') format('woff'), url('fonts/crick.ttf') format('truetype'), url('fonts/crick.svg') format('svg');
