.ya-btn
    font-size: 13px
    line-height: 1
    padding: 12px 18px
    border-radius: 3px
    outline: none
    border: none
    cursor: pointer
    text-decoration: none
    background: mainLinksColor
    &:hover
        box-shadow: 0 0 3px rgba(0,0,0,.4)
        text-decoration: underline
    &_primary
        background: mainLinksColor
        color: white
    &_secondary
        background: #f09401
        color: white
    &_inline
        display: inline-block