.ya-btn
    font-size: 13px
    line-height: 1
    padding: 12px 18px
    border-radius: 3px
    outline: none
    border: none
    cursor: pointer
    text-decoration: none
    background: mainLinksColor
    &:hover
        box-shadow: 0 0 3px rgba(0,0,0,.4)
        text-decoration: underline
    &_primary
        background: mainLinksColor
        color: white
    &_secondary
        background: #f09401
        color: white
    &_inline
        display: inline-block
    &_small
        padding: 8px 18px
        font-size: 10px
    &_plus
        position: relative
        display: inline-block
        margin-right: 30px
        margin-left: 5px
        &:after
            position: absolute
            bottom: 0
            right: - 24px
            width: 18px
            height: 18px
            border-left: 2px solid mainLinksColor
            border-bottom: 2px solid mainLinksColor
            content: ""
            display: block
            background: transparent
        &:before
            position: absolute
            top: 0
            right: - 30px
            width: 21px
            height: 21px
            content: "+"
            display: block
            background: mainLinksColor
            text-transform: uppercase
            color: white
            font-size: 14px
            line-height: 21px
            text-align: center
            border-radius: 3px
            vertical-align: middle
    &_plusless
        margin-right: 10px
        &:before
        &:after
            display: none