.ya-contests
    &__subtitle
        text-align: center
        font-size: 12px
        font-weight: bold
    &__tabs
        border-bottom: 1px solid #7e7e7e
        margin-bottom: 25px
    &__link
        color: #878787
        text-decoration: none
        &:hover
            & ^[0]__item-title
                color: #f09401
    &__item-title
        color: mainLinksColor
    &__item
        margin-bottom: 10px