.ya-ads-block
    padding: 4px
    font-size: 12px
    &__item
        margin-bottom: 25px
    &__link
        color: white
        text-decoration: none
        &:hover
            text-decoration: underline
    &__title
        font-weight: bold
    &__text
        line-height: 1.8