.ya-socials
    padding-bottom: 10px
    &__title
        color: white
        text-align: center
        padding: 10px 0 15px 0
        margin: 0
        font-size: 16px
        line-height: 1
    &__item
        width: 110px
        margin: 0 auto 7px auto
    &__link
        float: left
        display: block
        text-decoration: none
        &:hover
            box-shadow: 0 0 3px rgba(0,0,0,.6)
        &_profile
            width: 28px
            background: white
            border-radius: 3px
            display: block
            margin: 0 15px 0 0
            height: 27px
            padding: 2px
        &_friends
            width: 63px
            display: block
            border-radius: 3px
            background: white
            color: mainTextColor
            text-align: center
            line-height: 31px
            &:hover
                text-decoration: underline
    &__logo
        display: block
        background: url(images/sprite.png) 0 0 no-repeat
        width: 100%
        height: 100%
        &_vk
            background-position: -115px 0
        &_fb
            background-position: -86px 0
        &_ok
            background-position: -28px 0
        &_tw
            background-position: -57px 0
        &_ig
            background-position: 0 0