.ya-nav-menu
    &__list
        float: left
    &__item
        padding: 0 15px
    &__link
        display: block
        min-width: 80px
        &_social
            min-width: 90px
        &_competitions
            min-width: 170px
        &:hover
            text-decoration: underline
    &__icon
        display: block
        width: 26px
        height: 29px
        margin: 0 auto 8px auto
        background: url(images/sprite.png) -143px 0 no-repeat
        &_competitions
            width: 36px
            background-position: -235px 0
        &_contests
            width: 21px
            background-position: -213px 0
        &_news
            width: 42px
            background-position: -170px 0
    &__text
        display: block
        text-align: center
        background: #223d58
        color: white
        padding: 0
        line-height: 20px
        border-radius: 3px
    &_settings
        & ^[0]__item
            float: none
            padding: 0
            margin: 0
        & ^[0]__link
            color: mainLinksColor
            display: block
            padding: 5px 10px
            &:hover
                color: mainLinksColor
                text-decoration: underline
    &_view_icons
        center(412px)
        & ^[0]__item
            padding: 0 !important
            col(1/3)
            +below(767px)
                stack()
        & ^[0]__link
            &:before
                display: block
                content: ""
                margin-bottom: 10px
                margin: 0 auto 10px auto
            &_men:before
                width: 58px
                height: 51px
                background: url(images/sprite.png) 0 -255px no-repeat
            &_women:before
                width: 44px
                height: 51px
                background: url(images/sprite.png) -59px -255px no-repeat
            &_both:before
                width: 70px
                height: 51px
                background: url(images/sprite.png) -104px -253px no-repeat
            &:hover
                background: #f09401
            &_active
                background: #f09401
    &_blocked
        & ^[0]__item
            padding: 0 !important
            col(1/2)
            +below(479px)
                stack()
        & ^[0]__link
            position: relative
            &_featured:before
                width: 20px
                height: 18px
                background: url(images/sprite.png) -105px -229px no-repeat
                content: ""
                display: block
                position: absolute
                top: 12px
                left: 15px
            &_archieve:before
                content: ""
                display: block
                width: 17px
                height: 18px
                position: absolute
                top: 13px
                right: 15px
                background: url(images/sprite.png) -127px -229px no-repeat