.ya-nav-menu
    &__list
        float: left
    &__item
        padding: 0 15px
    &__link
        display: block
        min-width: 80px
        &_social
            min-width: 90px
        &_competitions
            min-width: 170px
        &:hover
            text-decoration: underline
    &__icon
        display: block
        width: 26px
        height: 29px
        margin: 0 auto 8px auto
        background: url(images/sprite.png) -143px 0 no-repeat
        &_competitions
            width: 36px
            background-position: -235px 0
        &_contests
            width: 21px
            background-position: -213px 0
        &_news
            width: 42px
            background-position: -170px 0
    &__text
        display: block
        text-align: center
        background: #223d58
        color: white
        padding: 0
        line-height: 20px
        border-radius: 3px