.ya-albums
    &__create-btn
        position: absolute
        top: 10px
        right: 20px
        width: 22px
        height: 22px
        display: block
        background: url(../images/plus.png) 50% 50% no-repeat
        cursor: pointer