.ya-timer
    &__title
        text-align: center
        color: mainLinksColor
        line-height: 1.4
        font-size: 14px
        margin-bottom: 10px
    &__digit
        background: #f09401
        color: white
        font-size: 18px
        border-radius: 5px
        text-align: center
        height: 34px
        line-height: 34px
        margin: 0 1px
    &__label
        font-size: 12px
        text-align: center
        margin-top: 5px
        +below(959px)
            margin-bottom: 15px