.ya-contest
    &__info
        vertical-align: middle
        position: absolute
        top: 12px
        line-height: 20px
        right: 20px
        color: white
        font-size: 12px
        display: inline-block
        &:before
            content: ""
            display: inline-block
            width: 20px
            height: 20px
            position: relative
            top: -2px
            left: 0
            background: url(images/sprite.png) -146px -228px no-repeat
            line-height: 20px
            margin-right: 10px
            vertical-align: middle
    &__subtitle
        text-align: center
        color: mainLinksColor
        font-style: italic
        margin-bottom: 15px
    &__timer
        center(180px)
    &__icons
        margin-top: 20px
        margin-bottom: 35px
    &__participants
        margin-bottom: 40px
    &__desc
        center(560px)
    &__desc-title
        text-align: center
        font-size: 16px
        color: mainLinksColor
        line-height: 20px
        &:before
            content: ""
            display: inline-block
            width: 20px;
            height: 20px;
            position: relative;
            top: 3px;
            left: 0;
            background: url(images/sprite.png) -146px -228px no-repeat;
            margin-right: 10px;