.ya-user
    &__main-info
        background: #0e1e2d
        color: white
        padding: 15px
    &__raiting
        border-right: 1px solid #0e1e2d
        padding: 15px 0
        text-align: center
    &__options
        text-align: center
        padding: 15px 0
    &__options-btn
        width: 25px
        height: 25px
        display: inline-block
        background: url(images/sprite.png) -46px -93px no-repeat
        margin: 0 6px
    &__logout-btn
        width: 21px
        height: 25px
        display: inline-block
        background: url(images/sprite.png) -72px -93px no-repeat
        margin: 0 6px
    &__name
        text-align: center
        font-size: 18px
        margin: 10px 0
        line-height: 1
        font-weight: normal
    &__city
        text-align: center
        font-size: 18px
        margin: 0
        line-height: 1
        font-weight: normal
    &__status
        font-size: 12px
        line-height: 1
        margin: 0 15px
        padding: 13px 0
    &__info-block
        margin: 0 15px
        & + &
            border-top: 1px solid #afafaf