// Backgrounds
bgColor = #ffffff
addBgColor = #1f1a17

// General typography
font-family = Tahoma, Arial, Helvetica, sans-serif
mainTextColor = #333333
addTextColor = #666666
mainTextSize = 14px

// P bottom margin
pMargBot = 25px

// Links
mainLinksColor = #243c56

// Titles
titles-font = Tahoma, Arial, Helvetica, sans-serif
titlesColor = #4d4948
addTitlesColor = #e67817
baseTitileFontSize = 16px
h1Size = 21px
h2Size = 18px
h3Size = 16px
transform = none
hAlign = left

// Main menu
inactiveMenuColor = #dededc
activeMenuColor = #e67817
menuTransform = uppercase
menuFontSize = 14px

// Footer
footerBg = #1f1a17
footerTextColor = #ffffff
footerLinksColor = #f09401
footerPadTop = 25px
footerPadBottom = 0

// Header
headerBg = #0e1e2d
headerTextColor = #dedede
headerLinksColor = #e67817
headerPadTop = 0
headerPadBottom = 0