.ya-sidebar-info
    &__title
        text-transform: none
        color: white
        background: #223d57
        font-size: 16px
        font-weight: bold
        box-shadow: 1px 2px 1px rgba(0,0,0,.4)
        text-align: center
        padding: 27px 0
        line-height: 1
    &__content-wrapper
        padding: 20px 0 5px 0
        margin: 0 15px
    &__content
        padding: 0 15px 0 35px
        font-size: 12px
        color: #223d57
        font-weight: bold
    &__content-wrapper + &__content-wrapper
        border-top: 1px solid #757575
    &__item
        margin-bottom: 15px
    &__label
        color: #757575
        font-weight: normal
    &__icon
        display: block
        width: 39px
        cursor: pointer
        height: 39px
        background: #3faf6c url(images/sprite.png) 0 -120px no-repeat
        border-radius: 50%
        box-shadow: 2px 1px 1px rgba(0,0,0,.5)
        position: absolute
        top: 0
        right: 0
        &_awards
            background-position: -39px -120px
            background-color: #f39200
        &_work
            background-position: -78px -120px
            background-color: #8baddc
        &_edu
            background-position: -117px -120px
            background-color: #ea5b0c