.ya-online-id
    background: #f09400
    width: 15px
    height: 15px
    display: inline-block
    border-radius: 50%
    &_large
        width: 28px
        height: 28px
    &_small
        width: 8px
        height: 8px
    &_main
        position: absolute
        top: 4px
        right: 4px
        display: block
    &_online
        &_no
            background: #f09400
        &_yes
            background: #91c031