.ya-btn
    &_search
        margin-left: 0
    &__link
        &_search
            display: block
            color: white
            text-decoration: none
            line-height: 37px
            vertical-align: middle
            padding: 0 35px
            background: #f09401 url(images/sprite.png) -249px -40px no-repeat
            border-radius: 3px