.ya-profile-links
    background: #0e1e2d
    padding: 5px 0 10px 0
    &__link
        display: block
        background: url(images/sprite.png) 0 -29px #f09401 no-repeat
        border-radius: 50%
        width: 64px
        height: 64px
        margin: 10px auto
        &_photos
            background-position: -64px -29px
        &_videos
            background-position: -192px -29px
        &_favs
            background-position: -128px -29px
        &:hover
            box-shadow: 0 0 3px rgba(0,0,0,.7)