.ya-pop-up
    iframe
        height: 480px
        width: 100%
.ya-bottom-line
.ya-copyright-line
.ya-nav-line
    background: #0e1e2d //mainLinksColor
    color: white
.ya-nav-line
    padding: 25px 0
.ya-copyright-line
    padding-bottom: 50px
    margin-bottom: -100px
.ya-copyright
    +below(959px)
        text-align: center
.ya-overlay
    z-index: 1000
    background: rgba(0,0,0,.7)
    margin-top: 118px
.ya-main-page__title
    padding-bottom: 0
    font-family: 'Crick', Tahoma, Arial, Helvetica, sans-serif
    font-weight: normal
.ya-main-page__subtitle
    color: #f3f600
    text-align: center
    display: block
    font-size: 30px
.ya-copyright
    font-size: 11px
    padding-left: 30px
.ya-date-info
    margin-bottom: 5px
    font-size: 11px
.ya-photos__item.ya-grid-1-4
    +below(959px)
        col(1/4)
.ya-photos__item.ya-grid-1-3
    +below(959px)
        col(1/3)
.ya-new-post__form
    .ya-avatar
        display: none
.ya-photos-page
.ya-videos-page
    .ya-pop-up_small
        .ya-btn_secondary
            +below(959px)
                display: none
.ya-fast-links
    .ya-span-1-3
        +below(479px)
            stack()
.ya-form__input
.ya-articles__filter
    .ya-right
        text-align: left
.ya-search-result__list.ya-users
    .ya-avatar
        +below(959px)
            text-align: center
            margin-bottom: 10px
.ya-bottom-line
    .ya-span-1-3
        &.ya-fast-links__item_2
            .ya-fast-link
                &:before
                    width: 21px
                    background: url(images/sprite.png) -43px -227px no-repeat
        &.ya-fast-links__item_3
            .ya-fast-link
                &:before
                    width: 42px
                    background: url(images/sprite.png) 0 -227px no-repeat
        overflow: hidden
        .ya-fast-link
            display:block
            width: 100%
            height: 210px
            position: relative
            overflow: hidden
            +between(960px, 1259px)
                height: 159px
            +between(768px, 959px)
                height: 126px
            +between(480px, 767px)
                height: 77px
            +below(479px)
                height: 149px
            &:before
                content: ""
                display: block
                position: absolute
                //position: relative
                transform: scale(1)
                right: 0
                bottom: 0
                margin-right: 15px
                margin-bottom: 10px
                width: 37px
                height: 28px
                background: url(images/sprite.png) -65px -227px no-repeat
                z-index: 10
                transition: all 0.2s ease-out
                +between(960px, 1259px)
                    transform: scale(.6)
                    margin-right: 10px
                +between(768px, 959px)
                    transform: scale(.6)
                    margin-right: 2px
                    margin-bottom: 2px
                +between(480px, 767px)
                    transform: scale(.4)
                    margin-right: -3px
                    margin-bottom: -3px
                +below(479px)
                    transform: scale(.6)
                    margin-right: 10px
                    margin-bottom: 7px
            &:after
                content: ""
                background: #ef9300
                width: 200%
                height: 400%
                transform: rotate(-35deg) translate(20%, 20%)
                display: block
                left: 0
                top: 0
                opacity: 1
                transition: all 0.2s ease-out
                position: absolute
            &:hover
                &:before
                    transform: scale(1) translate(50%, 50%)
                    bottom: 50%
                    right: 50%
                    margin-right: 0
                    margin-bottom: 0
            &:hover
                &:after
                    opacity: .5
                    transform: rotate(0deg) translate(-50%, -50%)
.ya-header
    .ya-grid-3-20
        +below(959px)
            display: none
user-links-block
ads-block
    display: block
.ya-search-page
    .ya-input__field-wrapper
        max-width: 100%
    .ya-form__input
        +below(959px)
            .ya-grid-1-2 + .ya-grid-1-2
                margin-top: 10px