.ya-pop-up
    iframe
        height: 480px
        width: 100%
.ya-bottom-line
.ya-copyright-line
.ya-nav-line
    background: #0e1e2d //mainLinksColor
    color: white
.ya-nav-line
    padding: 25px 0
.ya-copyright-line
    padding-bottom: 50px
    margin-bottom: -100px
.ya-overlay
    z-index: 1000
    background: rgba(0,0,0,.7)
    margin-top: 118px
.ya-main-page__title
    padding-bottom: 0
.ya-main-page__subtitle
    color: #f3f600
    text-align: center
    font-weight: bold
    display: block
    font-size: 30px
.ya-copyright
    font-size: 11px
    padding-left: 30px
