.ya-pop-up
    iframe
        height: 480px
        width: 100%
.ya-bottom-line
    background: #0e1e2d //mainLinksColor
    color: white
    padding-bottom: 50px
    margin-bottom: -100px
.ya-overlay
    z-index: 1000
    background: rgba(0,0,0,.7)
    margin-top: 125px
.ya-main-page__title
    padding-bottom: 0
.ya-main-page__subtitle
    color: #f3f600
    text-align: center
    font-weight: bold
    display: block
    font-size: 30px
