.ya-bordered-box
    border: 1px solid #233d58
    margin-bottom: 20px
    padding-bottom: 30px
    &_left
        padding: 25px 25px 0 25px
        border-left: 3px solid #f09401
        margin-bottom: 0
    &_single
        padding: 25px 25px 0 25px
        border-left: 3px solid #f09401