@import 'ya-user'
@import 'ya-avatar'
@import 'ya-profile-links'
@import 'ya-socials'
@import 'ya-ads-block'
@import 'ya-nav-menu'
@import 'ya-logo'
@import 'ya-btn'
@import 'ya-sidebar-info'
@import 'ya-online-id'
@import 'ya-info-block'
