@import 'ya-user'
@import 'ya-avatar'
@import 'ya-profile-links'
@import 'ya-socials'
@import 'ya-ads-block'
@import 'ya-nav-menu'
@import 'ya-logo'
@import 'ya-btn'
@import 'ya-sidebar-info'
@import 'ya-online-id'
@import 'ya-info-block'
@import 'ya-photos'
@import 'ya-wall'
@import 'ya-comments'
@import 'ya-options'
@import 'ya-social-linker'
@import 'ya-new-post'
@import 'ya-pop-btn'
@import 'ya-pop-up-photo'
@import 'ya-pop-up-comments'
@import 'ya-media-page'
@import 'ya-albums'
@import 'ya-search'
@import 'ya-pick-photo'
@import 'ya-fake-border'
@import 'ya-add-to-friend'
@import 'ya-search-result'
@import 'custom'
