.ya-close-btn
    position: absolute
    top: 0
    right: 0
    display: block
    background: #f09401
    color: white
    width: 20px
    height: 20px
    text-align: center
    line-height: 20px
    font-size: 12px
    border-radius: 3px
    vertical-align: middle
    cursor: pointer
    text-decoration: none
    border: none
    outline: none
    &:hover
        background: mainLinksColor