@import 'jeet'
@import 'rupture'

.ya-container
    center(1260px)
    +between(960px, 1259px)
        center(960px)
    +between(768px, 959px)
        center(768px)
    +between(480px, 767px)
        center(480px)
    +below(479px)
        center(320px)
        min-width: 320px
