.ya-wall
    padding: 0 15px 25px 15px
    color: #233e59
    font-size: 13px
    &__title
        font-size: 14px
        color: black
        padding: 20px 0 20px 20px
        line-height: 1
    &__news-author
        margin-bottom: 10px
    &__avatar
        display: inline-block
        vertical-align: top
        margin-right: 12px
    &__news-info
        display: inline-block
        vertical-align: top
    &__news-date
        color: #b3b3b3
    &__news-text
        margin: 10px 0 15px 0
    &__news-item
        & + &
            margin-top: 25px
            padding-top: 15px
            border-top: 1px solid #afafaf
        &.ng-hide + &
            margin-top: 0
            padding-top: 0
            border-top: none
    .ya-dialog &__news-item
        border-top: none
    .ya-dialog &__news-text
        margin-left: 58px
        margin-top: -20px
    .ya-dialog &__author-name
        float: left
        font-size: 14px
        color: black
    .ya-dialog &__news-date
        float: right
        font-size: 12px
    .ya-dialog &__news-info
        width: 350px
        padding-top: 5px
    &__news-remove
        position: absolute
        top: 0
        right: 0
        color: #cccccc
        cursor: pointer
        &:hover
            color: mainLinksColor
