.ya-share-box
    line-height: 18px
    height: 18px
    vertical-align: middle
    &__title
        display: inline-block
        line-height: 18px
        margin-right: 6px
        vertical-align: top
        height: 18px
    &__btns
        line-height: 18px
        height: 18px
        vertical-align: middle
    &__btn
        display: inline-block
        width: 20px
        height: 18px
        margin: 0 2px
        cursor: pointer
        &_vk
            background: url(images/sprite.png) 0 -159px no-repeat
        &_fb
            background: url(images/sprite.png) -21px -159px no-repeat
        &_tw
            background: url(images/sprite.png) -42px -159px no-repeat
        &_ok
            background: url(images/sprite.png) -63px -159px no-repeat